@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    height: 100%;
}

.video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /*para ele cobrir as margens da página*/
    background-position: center;
    z-index: -1; /*para deixar o video como layer de background*/
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center; /*para alinhar o conteudo centralmente no eixo x*/
    align-items: center; /*para alinhar o conteudo centralmente no eixo y*/
    z-index: 1; /*mesmo deixando o z-index do video como -1, é sempre bom garantir que o layer deste elemento é 1*/
}

.envelope{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.conteudo-clima{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 2rem;
    width: 350px;
    height: 100%;
    max-height: 550px;
}

.conteudo-clima img{
    height: 9.5rem; /*para diminuir o tamanho da imagem*/
    margin-bottom: 0.25rem;
}

.conteudo-clima h2{
    width: 325px;
    margin-bottom: 0.625rem;
    font-size: 3.375rem;
    font-weight: 400;
    text-transform: uppercase; /*pra deixar o texto inteiro em uppercase*/
    text-align: center;
    white-space: nowrap; /*ele impede que o texto entre em uma nova linha quando for grande demais*/
    text-overflow: ellipsis; /*para deixar 3 pontinhos quando o texto fugir da caixa do texto*/
}

.conteudo-clima h3{
    font-size: 8rem;
    line-height: 6rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
}

.conteudo-variacoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 200px;
    margin-bottom: .75rem;
    text-transform: uppercase;
}

.conteudo-variacoes p{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2rem;
}

.conteudo-clima::after{ /*pseudoelemento, elemento que não existe, e você define propriedades para ele, pode ser um after ou before*/
    content: "";
    position: absolute; /*toda vez que usamos um position absolute ele vai ter uma referencia, a referencia dele é sempre em relação ao elemento que tem position relative,
    ou seja, o pai dele vai ser o elemento com position relative, ao não definir nenhum relative, ele vai entender que o pai dele é a página
    Nesse caso ele vai buscar a referencia na classe conteudo clima, pegar o pai dele (position relative) e assim definir sua posição usando absolute, top e left*/
    top: 8rem;
    left: 0;
    width: 350px;
    height: 445px;
    border-radius: 50px;
    background: linear-gradient(180deg, rgba(194, 188, 194, 0) 0%, rgba(194, 188, 194, 0.8));
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    filter: blur(4.5px);
    z-index: -1;
}

.caixa{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    padding: 0 2rem;
}

.procura{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
}

.procura button{
    margin: 0 .5rem 0;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D54FF;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    transform: translate(53px, 0px);
}

.procura img{
    width: 25px;
    height: 25px;
}

.procura input{
    height: 50px;
    width: 300px;
    padding:0.5rem 0.5rem 0.5rem 3.1rem;
    border: none;
    border-radius: 100px;
    box-shadow: 0 0 10px 2px; rgba(0, 0, 0, 0.25);
}
